body {
    background-color: rgb(96, 192, 96);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

header {
    padding-top: 12px;
    padding-bottom: 12px;
}

header h1 {
    font-size: 48px;
    font-weight: bold;
}

article {
    background-color: rgb(239, 239, 239);
    border-left: 32px solid rgb(96, 192, 96);
    border-right: 32px solid rgb(96, 192, 96);
    padding: 16px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

#content {
    width: 92%;
    order: 0;
}

#language-menu {
    width: 72px;
    order: 1;
}

h1 {
    font-size: 24px;
    padding-bottom: 16px;
}

h2 {
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 24px;
}

ul {
    list-style: circle;
    padding-left: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

ol {
    list-style: decimal;
    padding-left: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
}

li {
    background-color: rgb(223, 223, 223);
}

footer {
    padding-top: 12px;
    height: 48px;
}
